@import "tailwindcss";


body{
    background-color: black;
    color:white;
}
html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: #fef9f4;
  --color-text: #111827;
  --color-section: #f3f4f6;
  --color-accent-from: #7C3AED;
  --color-accent-to: #3B82F6;
}

.dark {
  --color-bg: black;
  --color-text: #f1f5f9;
  --color-section: #1f2937;
  --color-accent-from: #8b5cf6;
  --color-accent-to: #2563eb;
}
