@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #414345, #232526);
  color: #ffffff;
}

html {
 scroll-behavior: smooth;
}

:root {
  --color-bg: #ffffff;
  --color-text: #060707;
  --color-subtext: #fff;
  --color-section: #84AE92;
  --color-accent-from: #71C0BB; /* sky-400 */
  --color-accent-to: #360cb3;   /* violet-400 */
  --my-gradient: linear-gradient(90deg, #38bdf8, #a78bfa);
  --glass-bg: #587774;
  --site-bg: linear-gradient(180deg, #eef2f3 0%, #e0eafc 100%);
}

.dark {
  --color-bg: #0b0c10;
  --color-text: #f9fafb;
  --color-subtext: #9ca3af;
  --color-section: #1f2937;
  --color-accent-from: #38bdf8;
  --color-accent-to: #a78bfa;
  --my-gradient: linear-gradient(90deg, #38bdf8, #a78bfa);
  --glass-bg: rgba(255, 255, 255, 0.05);
  --site-bg: radial-gradient(circle at center, #0f172a, #000000);
}




.active-nav {
 border-bottom: 2px solid var(--my-gradient);
}
